<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ROOT</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
		<!-- <welcome-file>index.htm</welcome-file> <welcome-file>index.jsp</welcome-file> 
			<welcome-file>default.html</welcome-file> <welcome-file>default.htm</welcome-file> 
			<welcome-file>default.jsp</welcome-file> -->
	</welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/ApplicationContxt.xml</param-value>
	</context-param>

	<filter>
		<description>处理中文乱码过滤器</description>
		<filter-name>ProFilter</filter-name>
		<filter-class>com.itg.maindata.web.ProFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProFilter</filter-name>
		<url-pattern>*</url-pattern><!-- 过滤所有请求，注：tomcat5请用/* -->
	</filter-mapping>



	<servlet>
		<servlet-name>mdm</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>mdm</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mdm</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<!-- <servlet> <description></description> <display-name>HibernateTestServlet</display-name> 
		<servlet-name>HibernateTestServlet</servlet-name> <servlet-class>lee.HibernateTestServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>HibernateTestServlet</servlet-name> 
		<url-pattern>/HibernateTestServlet</url-pattern> </servlet-mapping> -->
</web-app>